img {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    max-width: 100%;
}

section {
    padding: 20px 0;
    width: 20%;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-left: 20px;
    
}
body {
    
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}