header {
    display: flex;
    margin: 0 auto;
    padding: 40px;
    max-width: 100%;
}
    

body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

.container {
    display: flex;
    gap: 30px;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin: 0 40px;
}

.container p {
    flex: 1;
}


.container2 {
    display: flex;
    gap: 670px;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin: 0 40px;
}

.container2 p {
    flex: 1;
}

