   header {
       max-width: 50%;
   }

   body {
       margin: 1;
       padding: 1;
       box-sizing: border-box;
       background-color: azure;
   }

   .container {
       display: flex;
       gap: 150px;
       text-align: justify;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       margin: 0 40px;

   }

   .container p {
       flex: 1;
   }


   .container2 {
       display: flex;
       gap: 862px;
       text-align: justify;
       font-size: 20px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       margin: 0 35px;
   }

   .container2 p {
       flex: 1;
   }

   a {

       margin: 650px;
       font-size: 20px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

   }